body {
    padding-top: 50px;
    padding-bottom: 20px;
    font: normal 24px "c64_pro_mono-style", sans-serif;
    letter-spacing: 0;
    color: #ffffff;
    background-color: #0c0a0d;
    text-shadow: none;
    line-height: -10px;
    /*color: #000000;
    color: #FFFFFF;
    color: #68372B;
    color: #70A4B2;
    color: #6F3D86;
    color: #588D43;
    color: #352879;
    color: #B8C76F;
    color: #6F4F25;
    color: #433900;
    color: #9A6759;
    color: #444444;
    color: #6C6C6C;
    color: #9AD284;
    color: #6C5EB5;
    color: #959595;

    color: RGB(0,0,0)  ;
    color: RGB(255,255,255)  ;
    color: RGB(104, 55, 43)  ;
    color: RGB(112,164,178)  ;
    color: RGB(111, 61,134)  ;
    color: RGB( 88,141, 67)  ;
    color: RGB( 53, 40,121)  ;
    color: RGB(184,199,111)  ;
    color: RGB(111, 79, 37)  ;
    color: RGB( 67, 57,  0)  ;
    color: RGB(154,103, 89)  ;
    color: RGB( 68, 68, 68)  ;
    color: RGB(108,108,108)  ;
    color: RGB(154,210,132)  ;
    color: RGB(108, 94,181)  ;
    color: RGB(149,149,149)  ;*/
}

a {
    font: normal "c64_pro_mono-style", sans-serif;
    color: #6C5EB5;
}

h1 {
    font: normal 32px "c64_pro_mono-style", sans-serif;
    text-align: center;
    color: #fff;
    margin: 32px 0px;
}

h2 {
    font: normal 24px "c64_pro_mono-style", sans-serif;
    text-align: center;
    color: #fff;
    margin: 32px;
}

body .subtitle {
    text-align: center;
    color: #9AD284;
    line-height: 48px;
}

footer
{
    font-size: 12px;
}


.instructions
{
    margin-top: 24px;
    font-size: 16px;
}

.instructions li
{
    margin-top: 8px;
    font-size: 16px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

@font-face {
    font-family: 'c64_pro_mono-style';
    src: url('font/C64_Pro_Mono-STYLE.eot') format('embedded-opentype'), url('font/C64_Pro_Mono-STYLE.ttf') format('truetype'), url('font/C64_Pro_Mono-STYLE.woff') format('woff');
}
